".vs/" 
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/FileContentIndex
/.vs/opuspactechnicaltest/FileContentIndex/6b45daae-a2df-49a2-9635-5f4010a0ee20.vsidx
/Opuspac.TechnicalTest/Opuspac.TechnicalTest.API/bin
/Opuspac.TechnicalTest/Opuspac.TechnicalTest.API/obj
/.vs/Opuspac.TechnicalTest
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/v17/.suo
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/v17/DocumentLayout.backup.json
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/v17/DocumentLayout.json
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/copilot-chat/4c748423/sessions/7839e9d9-a780-4c4d-a0a5-79a7cc1a3bfa
/Opuspac.TechnicalTest/Opuspac.TechnicalTest.API/obj/Debug/net8.0/apphost.exe
/Opuspac.TechnicalTest/Opuspac.TechnicalTest.API/obj/Debug/net8.0/Opuspac.TechnicalTest.API.assets.cache
/Opuspac.TechnicalTest/Opuspac.TechnicalTest.API/obj/Debug/net8.0/Opuspac.TechnicalTest.API.csproj.FileListAbsolute.txt
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/CopilotIndices/17.13.439.2385/CodeChunks.db
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/Opuspac.TechnicalTest/.vs/Opuspac.TechnicalTest/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
